VITE_SUPABASE_URL=https://xxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOi...

VITE_SUPABASE_ORIGEN_URL=https://xxxxxxxx.supabase.co
VITE_SUPABASE_ORIGEN_ANON_KEY=eyJhbGciOi...

VITE_SUPABASE_CMI_URL=https://xxxxxxxx.supabase.co
VITE_SUPABASE_CMI_ANON_KEY=eyJhbGciOi...
